.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  flex-wrap: wrap;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p {
  font-size: 38px;
  font-weight: 600;
  color: #171717;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  color: #626262;
}

.nav-menu li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  height: 3px;
  width: 80%;
  background: #ff4141;
  border-radius: 10px;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  width: 160px;
  height: 60px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  font-size: 20px;
  font-weight: 500;
  color: #515151;
  cursor: pointer;
  background: white;
}

.nav-login-cart button:hover {
  background: #f3f3f3;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  background: red;
  color: white;
  font-size: 14px;
  margin-top: -35px;
  margin-left: -55px;
}
